<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPXjNCd6dFBtodsNIQkx-nW4iH0weEufU</string>
	<key>GCM_SENDER_ID</key>
	<string>566410520061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dollarKursi</string>
	<key>PROJECT_ID</key>
	<string>dollarkursi-f359b</string>
	<key>STORAGE_BUCKET</key>
	<string>dollarkursi-f359b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566410520061:ios:6070ce6c3bae83a02ee594</string>
</dict>
</plist>